.mainButton
{
    background-color: #MainColor# !important;
    color: white !important;
}

.secondaryButton
{
    background-color: #SecondaryColor# !important;
    color: white !important;
}

.mainColorMixin
{
    color: #MainColor# !important;
}

.secondaryColorMixin
{
    color: #SecondaryColor# !important;
}

.asideDarkSection a
{
    color: #MainColor# !important;
}

.list-group-item.active
{
    background-color: #MainColor# !important;
    color: white !important;
    font-weight: bold;
}

#buttonChooseOption
{
    background-color: white !important;
}


.selectorHomeHero
{
    background-color: #MainColor# !important;
}


.mvc-grid-pager .active
{
    background-color: #MainColor# !important;
}

.selectorModal
{
    border-top: #MainColor# 5px solid !important;
}