.pager {
    background-color: #EA4D04 !important
}

.pageImage {
    border: 1px solid #EA4D04 !important
}

.selectorHeader {
    background-color: #EA4D04 !important
}

#buttonFinish,
#buttonToggleFinish {
    background-color: white !important;
    color: #EA4D04 !important
}

#buttonNext {
    background-color: white !important;
    color: #EA4D04 !important
}

.mainButton {
    background-color:  #EA4D04 !important;
    color: white !important;
}

.signatureElement
{
    background-color:  yellow !important;
    color: black !important;
}						
						