.mainButton
{
    background-color: #2b471f !important;
    color: white !important;
}

.secondaryButton
{
    background-color: #659d42 !important;
    color: white !important;
}

.mainColorMixin
{
    color: #2b471f !important;
}

.secondaryColorMixin
{
    color: #659d42 !important;
}

.asideDarkSection a
{
    color: #2b471f !important;
}

.list-group-item.active
{
    background-color: #2b471f !important;
    color: white !important;
    font-weight: bold;
}

#buttonChooseOption
{
    background-color: white !important;
}


.selectorHomeHero
{
    background-color: #659d42 !important;
}


.mvc-grid-pager .active
{
    background-color: #2b471f !important;
}

.selectorModal
{
    border-top: #2b471f 5px solid !important;
}